<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1070196869063-pural5un4suam2qvb5mf01h9ojob252m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1070196869063-pural5un4suam2qvb5mf01h9ojob252m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1070196869063-3ihoa470a4dcsopvl0btc3e696qfeg22.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDFg_hmX4vmwb3pGrrSRpCPu2GykPE32GU</string>
	<key>GCM_SENDER_ID</key>
	<string>1070196869063</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-project-6c7d8</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-project-6c7d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1070196869063:ios:d83d524023b4ae4c7dbbe2</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-project-6c7d8.firebaseio.com</string>
</dict>
</plist>